<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <title>Hardware Mockup UI</title>
        <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    </head>
    <body>
        <h1>Hardware Mockup Data Generator to Device_events Database</h1>
        <input type="text" id="dev_id" placeholder="Enter dev_id"><br><br>
        <input type="text" id="car_driver_id" placeholder="Enter car_driver_id"><br><br>
        <input type="text" id="eye_status" placeholder="Enter eye_status (1 = closed, 0 = open)"><br><br>
        <input type="text" id="alarm_status" placeholder="Enter alarm_status (1 = alarm ON, 0 = alarm OFF)"><br><br>
        <input type="text" id="dev_location" placeholder="Enter dev_location (lon/lat)"><br><br>
        <input type="text" id="value" placeholder="Enter value"><br><br>
        <input type="text" id="timestamp" placeholder="Enter timestamp"><br><br>
        <input type="submit" id="submit" value="Submit">
        <script>
            document.getElementById('submit').addEventListener('click', function() {
                var dev_id = document.getElementById('dev_id').value;
                var car_driver_id = document.getElementById('car_driver_id').value;
                var eye_status = document.getElementById('eye_status').value;
                var alarm_status = document.getElementById('alarm_status').value;
                var dev_location = document.getElementById('dev_location').value;
                var value = document.getElementById('value').value;
                var timestamp = document.getElementById('timestamp').value;
                fetch('api/hwmock', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        dev_id: dev_id,
                        car_driver_id: car_driver_id,
                        eye_status: eye_status,
                        alarm_status: alarm_status,
                        dev_location: dev_location,
                        value: value,
                        timestamp: timestamp
                    })
                }).then(function(response) {
                    if(response.status==200){
                        alert('HW Mock Data Successfully Generated');
                        console.log('HTML Frontend OK');
                        return response.json();
                    } else{
                        alert(response.status + ": " + 'Registration Failed.\nPossible Causes:\n1. All inputs are required');
                    }
                }).then(function(data) {
                    console.log(data);
                }).catch(function(error) {
                    console.log(error);
                });
            });
        </script>
    </body>
</html>